
.card-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 28rem;
  min-width: 20rem;
  width:auto;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: var(--box-shadow)
}
.card-header{
  height: 50%;
  width: 100%;
  overflow: hidden;
}
.card-img{
  width: 20rem;
  height: 100%;
}
.card-bdy{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.card-title{
  font-size: 1.5rem;
}
.card-text{
  font-size: 0.9rem;
  width: 20rem;
  margin: 0 auto;
}
.card-footer{
  margin-top: 0.6rem;
  text-align: center;
  background-color: black;
  min-width: 100%;
}
.card-footer a{
  color: #fff;
  padding: 2rem;
  text-decoration: none;
  font-size: 1.8rem;
  overflow: hidden;
}


