<div class="card-container">
  <div class="card-box" >
    <div class="card-header">
    <img class="card-img" src="{{urlImg}}"  alt="">
    </div>
    <div class="card-bdy">
      <h3 class="card-title">{{ card.name }}</h3>
      <p class="card-text">
        {{ card.description }}
      </p>
      <div class="card-footer" >
        <a
          href="{{ card.html_url }}" target="_blank"
          rel="noreferrer"
        >
          <i class="bi bi-github"></i>
        </a>
        <a
          href="{{ card.homepage }}"
          target="_blank"
          rel="noreferrer"
        >
          <i class="bi bi-link-45deg"></i>
        </a>
      </div>
    </div>
  </div>
</div>
