<app-header></app-header>
<main>
  <section class="apresentacao">
    <div class="apresentacao__conteudo">
      <h1 class="apresentacao__conteudo__titulo">
        Luís Varella
      </h1>
      <h2 class="apresentacao__conteudo__texto">
        full stack developer
      </h2>
      <a
          class="apresentacao__links__redes"
          href="https://www.linkedin.com/in/lgvarelladevs/"
          ><img
            src="./assets/linkedin.png"
            alt="logo linkedin"
          />Linkedin</a
        >
        <a
          class="apresentacao__links__redes"
          href="https://github.com/lgfvarella"
        >
          <img
            src="./assets/github.png"
            alt="logo GitHub"
          />GitHub</a
        >
    </div>
  </section>
  <section class="apresentacao">
    <div class="apresentacao__conteudo">
      <h1 class="apresentacao__conteudo__titulo">
        Luís Varella
      </h1>
      <h2 class="apresentacao__conteudo__texto">
        full stack developer
      </h2>
      <a
          class="apresentacao__links__redes"
          href="https://www.linkedin.com/in/lgvarelladevs/"
          ><img
            src="./assets/linkedin.png"
            alt="logo linkedin"
          />Linkedin</a
        >
        <a
          class="apresentacao__links__redes"
          href="https://github.com/lgfvarella"
        >
          <img
            src="./assets/github.png"
            alt="logo GitHub"
          />GitHub</a
        >
    </div>
  </section>
  <section class="apresentacao">
    <div class="apresentacao__conteudo">
      <h1 class="apresentacao__conteudo__titulo">
        Luís Varella
      </h1>
      <h2 class="apresentacao__conteudo__texto">
        full stack developer
      </h2>
      <a
          class="apresentacao__links__redes"
          href="https://www.linkedin.com/in/lgvarelladevs/"
          ><img
            src="./assets/linkedin.png"
            alt="logo linkedin"
          />Linkedin</a
        >
        <a
          class="apresentacao__links__redes"
          href="https://github.com/lgfvarella"
        >
          <img
            src="./assets/github.png"
            alt="logo GitHub"
          />GitHub</a
        >
    </div>
  </section>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
