.apresentacao {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__titulo-destaqueTitulo {
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    height: 68px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    border: var(--cor-terciaria) solid 2px;
    border-radius: 8px;
    text-decoration: none;
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}



@media ( max-width: 1200px ) {
    .cabecalho{
        padding: 10% 2% 2% 2%;
    }

    .cabecalho__nome{
        justify-content: center;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: 100%;
    }

}
