<div class="container-fluid">
  <div class="cartaoBox">
    <div class="cartao" style='background-image: url("../../../assets/github.png"); background-repeat: no-repeat'>
      <!-- <img src="../../../assets/" class="card-img-top" alt="Imagem 1"> -->
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
    <div class="cartao">
      <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
  </div>
  <div class="cartaoBox">
    <div class="cartao">
      <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
    <div class="cartao">
      <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
  </div>
  <div class="cartaoBox">
    <div class="cartao">
      <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
    <div class="cartao">
      <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
  </div>
  <div class="cartaoBox">
    <div class="cartao">
      <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
    <div class="cartao">
      <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Conteúdo do Card 1.</p>
      </div>
    </div>
  </div>

</div>


