<header class="cabecalho">
  <nav class="cabecalho__nome">
    <a class="cabecalho__nome__link" href="./about.html">Luís Varella</a>
    <p class="cabecalho__nome__link"> / </p>
    <a class="cabecalho__nome__link" href="./about.html">Fullstack Developer</a>
  </nav>
  <nav class="cabecalho__menu">
    <a class="cabecalho__menu__link" href="./index.html">Sobre mim</a>
    <a class="cabecalho__menu__link" href="./about.html">Currículo</a>
    <a class="cabecalho__menu__link" href="./about.html">Projetos</a>
    <a class="cabecalho__menu__link" href="./about.html">Contato</a>
  </nav>
</header>
