.navbar{
  font-size: 1.2rem;
  background-color: var(--cor-terciaria)
}

.navbar-nav{
  gap: 3rem;
}

button{
  background-color: initial;
  border: none;
  font-size: 1.8rem;
}
.active{
  font-weight: bold;
}

.bi-lightbulb-fill{
  color: white;
  font-size: 1.8rem;
}
.bi-moon-fill{
  color: black;
  font-size: 1.8rem;
}

.menuMobile{
  background-color: var(--cor-terciaria);
}
.offcanvas-body{
  text-align: center;
}



