<section class="about">
  <div class="about__box">
    <div class="about__box_text">
      <h2>Olá, eu sou Luis Varella 😉</h2>
      <p>
        Sou um desenvolvedor brasileiro atualmente trabalhando com desenvolvimento web usando angular e spring a maior parte do tempo. Atualmente estou aprendendo desenvolvimento mobile com flutter. Sou formado em análise de sistemas e passo meu tempo livre com jogos, filmes, séries e animes.
      </p>
    </div>
    <img src="./assets/darksouls.gif" alt="" class="about__box_img" />
  </div>
  <div class="skills">
    <div class="skills_wrapper">
      <div class="skills_box">
        <h2>Habilidades</h2>
        <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">
          <img
            src="https://img.shields.io/badge/JavaScript-f7df1e?logo=javascript&logoColor=black&style=for-the-badge&labelWidth=120"
          />
        </a>
        <a href="https://www.typescriptlang.org/">
          <img
            src="https://img.shields.io/badge/TypeScript-0000ff?logo=typescript&logoColor=white&style=for-the-badge&labelWidth=120"
          />
        </a>
        <a href="https://angular.io/">
          <img
            src="https://img.shields.io/badge/Angular-DD0031?logo=angular&logoColor=white&style=for-the-badge&labelWidth=120"
          />
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
          <img
            src="https://img.shields.io/badge/HTML-ff0000?logo=html5&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="HTML Badge"
          />
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
          <img
            src="https://img.shields.io/badge/CSS-0000ff?logo=css3&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="CSS Badge"
          />
        </a>
        <a href="https://getbootstrap.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/Bootstrap-40128b?logo=bootstrap&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="Bootstrap Badge"
          />
        </a>
        <br />
        <a href="https://git-scm.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/Git-FF6700?logo=git&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="Git Badge"
          />
        </a>
        <a href="https://github.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/GitHub-40128b?logo=github&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="GitHub Badge"
          />
        </a>
        <a href="https://www.mysql.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/MySQL-3c3c3c?logo=mysql&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="MySQL Badge"
          />
        </a>
        <a href="https://spring.io/" target="_blank">
          <img
            src="https://img.shields.io/badge/Spring-022c02?logo=spring&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="Spring Badge"
          />
        </a>
        <a href="https://code.visualstudio.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/VS%20Code-007ACC?logo=visual%20studio%20code&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="VS Code Badge"
          />
        </a>
        <a href="https://www.oracle.com/java/" target="_blank">
          <img
            src="https://img.shields.io/badge/Java-000000?logo=openjdk&logoColor=white&style=for-the-badge&labelWidth=120"
            alt="Java Badge"
          />
        </a>
        <a href="https://www.linux.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/Linux-FCC624?logo=linux&logoColor=black&style=for-the-badge&labelWidth=120"
            alt="Linux Badge"
          />
        </a>
      </div>
    </div>

    <div class="education">
      <h2>Formação Academica</h2>
      <div class="cartoes">
        <div class="cartao">
          <h5>VitrineDev Alura</h5>
          <a href="https://cursos.alura.com.br/vitrinedev/lgfvarella" target="_blank">
            <img
              src="https://img.shields.io/badge/Certificados-05FFFF?style=for-the-badge&labelWidth=120"
              alt="Certificados Alura"
            />
          </a>
        </div>
        <div class="cartao">
          <h5>Análise e Desenvolvimento de Sistemas</h5>
          <p>Grad. Dez 2022</p>
        </div>
        <div class="cartao">
          <h5>Administração</h5>
          <p>Grad. Dez 2019</p>
        </div>
      </div>
    </div>
  </div>
</section>
