<footer class="p-4 text-light text-center py-5 col" [ngClass]="{'light': ehLight}">
  <div class="container">
    <div class="footer__social">
      <a (click)="toTop()">To top</a>
      <a href="https://github.com/lgfvarella" target="blank" title="Visit My Github">Github</a>
      <a href="https://www.linkedin.com/in/lgvarelladevs/" target="blank" title="Visit My Linkedin">Linkedin</a>
      <a href="mailto: lgfvarella@gmail.com" target="blank" title="Send me an e-mail">E-mail</a>
    </div>
    <div class="footer__links">
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/projetos']">Projetos</a>
      <a [routerLink]="['/about']">Sobre</a>
      <a href="./assets/Profile.pdf" target="_blank">Currículo</a>
    </div>
  </div>
  <div class="footer__logos">
    <a href="mailto: lgfvarella@gmail.com" target="blank" title="Send me an e-mail">
      <i class="bi bi-envelope-at-fill fs-4 me-2"></i>
    </a>
    <a href="https://www.linkedin.com/in/lgvarelladevs/" target="blank" title="Visit My Linkedin">
      <i class="bi bi-linkedin fs-4 me-2"></i>
    </a>
    <a href="https://github.com/lgfvarella" target="blank" title="Visit My Github">
      <i class="bi bi-github fs-4 me-2"></i>
    </a>

  </div>
  <p>© 2023 built by Luís Varella</p>
</footer>
