footer {
  background-color: var(--cor-primaria);
  border-top: 1px solid var(--cor-secundaria);
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 2rem;

}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.footer__social{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.footer__links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
 a{
  text-decoration: none;
  cursor: pointer;
  color: var(--cor-secundaria);
}
.footer__logos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.bi-linkedin{
  color: #0a66c2;
}

.light{
  background-color: var(--cor-primaria-light);
  /* color: var(--cor-primaria) */
}
