<section class="apresentacao">
  <h1 class="apresentacao__titulo">
    <span class="apresentacao__titulo_principal">Luís Varella</span>
    <span class="apresentacao__titulo_work">Full Stack Developer</span>
  </h1>
  <div class="apresentacao__links">
    <a
      class="apresentacao__links__redes"
      href="https://www.linkedin.com/in/lgvarelladevs/"
    >
      <img src="./assets/linkedin.png" alt="logo linkedin" />
      Linkedin
    </a>
    <a
      class="apresentacao__links__redes"
      href="https://github.com/lgfvarella"
    >
      <img src="./assets/github.png" alt="logo GitHub" />
      Github
    </a>
  </div>
  <div class="banner">
    <img src="./assets/devAnimate.svg" alt=" " class="banner__imagem" />
  </div>
</section>
<section>

</section>
