/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@1&display=swap');

:root {
  --cor-hover: #393E46;
  --cor-primaria: #1b1a1a;
  --cor-secundaria: #EEEEEE;
  --cor-terciaria: #00ADB5;
  --font-primaria: 'Krona One', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
  --trasparent-primary: #00ADB5e0;
  --box-shadow: 0 0 5px #c0b4b4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria)
}
